[*.{kt,kts}]
indent_size=2
continuation_indent_size=2
insert_final_newline=true
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
disabled_rules=experimental:annotation,experimental:argument-list-wrapping,experimental:spacing-between-declarations-with-annotations
